    body {
        margin: 0;
        padding: 0;
    }
    
    .main {
        width: 100%;
        height: 100vh;
        background-image: url("../image/background.png");
        background-size: cover;
        font-family: roboto, sans-serif;
    }
    
    .header {
        height: 70px;
        background: rgba(0, 0, 0, .3);
    }
    
    .site-name {
        text-transform: uppercase;
        color: white;
        margin-left: 2vw;
        float: left;
    }
    
    .site-name:hover {
        color: #3cb878;
    }
    
    .inline {
        display: inline-block;
        vertical-align: middle;
    }
    
    .icons-login {
        float: right;
        margin-right: 2vw;
        padding: 22px;
    }
    
    .icon1 {
        width: 19px;
        height: 19px;
        overflow: hidden;
        background-image: url("../image/header-icons.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        margin-right: 1vw;
    }
    
    .icon1:hover {
        background-image: url("../image/header-icons-green.png");
    }
    
    .icon2 {
        width: 28px;
        height: 20px;
        overflow: hidden;
        background-image: url("../image/header-icons.png");
        background-repeat: no-repeat;
        background-position: -48px 0;
        background-size: cover;
        margin-right: 1vw;
    }
    
    .icon2:hover {
        background-image: url("../image/header-icons-green.png");
    }
    
    .icon3 {
        width: 21px;
        height: 20px;
        overflow: hidden;
        background-image: url("../image/header-icons.png");
        background-repeat: no-repeat;
        background-position: -104px 0;
        background-size: cover;
        margin-right: 1vw;
    }
    
    .icon3:hover {
        background-image: url("../image/header-icons-green.png");
    }
    
    .vertical-line {
        height: 19px;
        width: 0px;
        border: 1px solid rgba(0, 0, 0, .5);
        ;
        opacity: 0.5;
        margin-right: 1vw;
    }
    
    .login-area {
        color: white;
    }
    
    .clearfix {
        clear: both;
    }
    /* form */
    
    .form-div {
        /* height: calc(100vh - 210px); */
        height: 590px;
        width: 444px;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        color: #434343;
        position: relative;
        transform: translateY(70px);
    }
    
    .internal-form {
        position: relative;
        top: 29px;
        height: calc(100vh - 271px);
        margin-left: 61px;
        margin-right: 61px;
    }
    
    .sign {
        float: left;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .login {
        float: right;
        margin-bottom: 10px;
    }
    
    .sign::before {
        content: '';
        width: 18px;
        height: 18px;
        background: #3cb878;
        display: inline-block;
        position: absolute;
        transform: translateX(-61px);
    }
    
    .fb-btn {
        text-decoration: none;
        width: 157px;
        height: 46px;
        background: #305db8;
        float: left;
        border-radius: 3px;
        margin-bottom: 33px;
    }
    
    .fb-btn:hover {
        background: #264b96;
    }
    
    .f-img {
        background-image: url("../image/f\ symb.png");
        width: 10px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 13px;
    }
    
    .f-word {
        color: white;
        font-size: 16px;
    }
    
    .g-btn {
        text-decoration: none;
        width: 157px;
        height: 46px;
        background: #df4a32;
        float: right;
        border-radius: 3px;
        margin-bottom: 33px;
    }
    
    .g-btn:hover {
        background: #c3412c;
    }
    
    .g-img {
        background-image: url("../image/f\ symb.png");
        width: 10px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 13px;
    }
    
    .g-word {
        color: white;
        font-size: 16px;
    }
    
    .hr {
        width: 144px;
        height: 15px;
        opacity: .5;
        margin-bottom: 21px;
    }
    
    .or {
        font-size: 14px;
        width: 25px;
        height: 15px;
        opacity: .5;
        text-align: center;
        margin-bottom: 21px;
    }
    
    .input {
        width: 100%;
        height: 46px;
        box-sizing: border-box;
        margin-bottom: 9px;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, .2);
        font-size: 14px;
        padding-left: 17px;
        transition-property: transform;
        transition-duration: 1s;
    }
    
    .input::placeholder {
        opacity: .5;
    }
    
    .input:focus {
        outline: none;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, .2);
        transform: translateY(-3px);
    }
    
    .checkbox {
        display: none;
    }
    
    .checkbox-label {
        display: inline-block;
        margin-top: 19px;
        font-size: 14px;
    }
    
    .checkbox-label:before {
        content: '';
        display: inline-block;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        border: 1px solid rgba(0, 0, 0, .3);
        border-radius: 2px;
        margin-right: 10px;
        position: relative;
        vertical-align: middle;
    }
    
    .checkbox:checked+.checkbox-label::before {
        content: "\2713";
        text-align: center;
        color: #3cb878;
    }
    
    .submit-btn {
        display: none;
    }
    
    .submit-label {
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        height: 46px;
        background-color: #3cb878;
        margin-top: 28px;
        border-radius: 2px;
    }
    
    .submit-label:hover {
        background: #329a65;
    }
    
    .submit-btn-span {
        display: inline-block;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
        color: white;
    }
    
    .green-text {
        color: #56c18a;
    }
    
    .green-text:hover {
        text-decoration: underline;
    }
    
     :hover {
        transition-duration: .2s;
    }