body {
    margin: 0;
    padding: 0;
}

.main {
    background: #3a4965;
    height: 100vh;
    padding-top: 5vh;
}

table {
    border-collapse: collapse;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    background: #fafafa;
    font-family: 'Arimo', sans-serif;
    color: #484848;
}

td,
th {
    border-right: 2px solid rgba(0, 0, 0, .1);
    border-left: 2px solid rgba(0, 0, 0, .1);
    padding: 10px;
    margin: 0;
    height: 69px;
    width: 277px;
    box-sizing: border-box;
}

tr {
    height: 50px;
}

tbody>tr:nth-child(odd) {
    background: #f2f2f2;
}

tbody>tr:nth-child(even) {
    background: #e3e3e3;
}

.choose {
    font-size: 18px;
}

.pricing {
    font-size: 30px;
}

i {
    font-size: 24px;
}

.services {
    padding-left: 14px;
}

.price {
    font-size: 60px;
    position: relative;
}

.price:after {
    content: '.99';
    font-size: 24px;
    position: absolute;
    float: left;
    top: .5rem;
}

.per-month {
    font-size: 18px;
}

.btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: inline-block;
    height: 49px;
    width: 192px;
    box-sizing: border-box;
    border-radius: 5px;
    border-bottom: 5px solid rgba(0, 0, 0, .2);
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    transition-duration: .5s;
}

.btn:hover {
    position: relative;
    top: -2px;
    filter: brightness(110%);
}

.standard {
    color: white;
    font-size: 24px;
}

.ultimate {
    color: white;
    font-size: 30px;
}

.premium {
    color: white;
    font-size: 24px;
}

.green-bg {
    background: #89c331;
}

.red-bg {
    background: #f04a56;
}

.marine-bg {
    background: #20807c;
}

.grafit-bg {
    background: #484848;
}