body {
    padding: 0;
    margin: 0;
    text-align: center;
}

.entire-section {
    width: 1366px;
    height: 768px;
    background-image: url(".././images/rana-sawalha.png");
    padding-left: 155px;
    background-repeat: no-repeat;
    background-size: contain;
}

.header {
    float: left;
    width: 100%;
}

.logo {
    display: block;
    width: 44px;
    height: 46px;
    background-image: url(".././images/logo.png");
    float: left;
    margin-top: 49px;
}

.logo-name {
    color: white;
    font-size: 18px;
    float: left;
    padding-left: 15px;
    width: 104px;
    height: 44px;
    text-transform: uppercase;
    margin-top: 44px;
    font-family: AdobeInvisFont, Courier, Verdana, sans-serif;
}

.logo-name>a, .contacts>p {
    text-decoration-line: none;
    color: white;
    margin: 0;
}

.milan {
    font-size: 29px;
}

.contacts {
    margin-top: 57px;
    float: left;
    color: white;
    width: 243px;
    height: 44px;
    text-align: right;
    margin-left: 640px;
    font-size: 18px;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

.content-first-row {
    float: left;
    margin-top: 48px;
}

.content-second-row {
    float: left;
    margin-top: 58px;
}

.center {
    margin-left: 69px;
    margin-right: 69px;
}

.image {
    background-size: contain;
    height: 200px;
    width: 307px;
    overflow: hidden;
}

.shopping {
    background-image: url("../images/shopping.png");
}

.sight {
    background-image: url("../images/sight.png");
}

.food {
    background-image: url("../images/food.png");
}

.bars {
    background-image: url("../images/bar.png");
}

.art {
    background-image: url("../images/art.png");
}

.walk {
    background-image: url("../images/walking.png");
}

.tour-name>p {
    color: white;
    font-size: 18px;
    margin-top: 22px;
    margin-bottom: 0;
}

.overlay-1 {
    float: left;
    width: 100%;
    height: 60px;
    position: relative;
    top: 200px;
    color: white;
    background: orangered;
    transition-property: transform;
    transition-duration: 0.8s;
}

.image:hover .overlay-1 {
    transform: translateY(-60px);
}

.tour-name>p {
    font-family: AdobeInvisFont, Courier, Verdana, sans-serif;
    transition-property: color;
    transition-duration: 0.3s;
}

.tour-name>p:hover {
    color: orangered;
}

.copyright {
    color: white;
    text-align: left;
    padding-left: 357px;
    margin-top: 45px;
}

.copyright>p {
    font-family: AdobeInvisFont, Courier, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.logo-name>a {
    font-family:AdobeInvisFont, Verdana-Bold, Courier, sans-serif;
    transition-property: color;
    transition-duration: 0.3s;
}

.logo-name>a:hover {
    color: orangered;
}

.img-container {
    float: left;
    box-sizing: content-box;
}

.img-container>a {
    text-decoration: none;
}

.overlay-from {
    display: block;
    text-align: left;
    padding-left: 21px;
    padding-top: 10px;
    font-size: 10px;
}

.overlay-price {
    float: left;
    text-align: left;
    padding-left: 21px;
    font-size: 20px;
}

.overlay-details {
    float: right;
}

.overlay-details::after {
    content: "\203A";
    float: right;
    margin-left: 15px;
    margin-right: 18px;
}