.main {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Myriad Pro',sans-serif;
}

.header {
    text-align: left;
}

.logo {
    font-size: 80px;
    margin: 0 auto;
    font-family: 'Myriad Pro';
    font-weight: 400;
    text-decoration: none;
    color: #000;
}

.logo::first-letter {
    text-transform: capitalize;
}

.logo-blue-part {
    color: #4bcaff;
}

.navbar-item>a {
    text-decoration: none;
    color: #fff;
}

.navbar {
    background: #35444f;
    text-align: center;
}

.navbar-item {
    list-style: none;
    display: inline-block;
    padding: 20px;
    border-left: solid 1px #35444f;
    border-right: solid 1px #35444f;
    font-size: 24px;
    transition-property: padding-left, background;
    transition-duration: .5s;
}

.capitalized, .navbar-item::first-letter, .logo::first-letter, .side-item, .footer-item {
    text-transform: capitalize;
}

.navbar-item:hover {
    background: #222f3a;
    border-left: solid 1px grey;
    border-right: solid 1px grey;
}

.content-section {
    margin-top: 40px;
    display: inline-block;
    width: 1280px;
}

.side-item>a {
    color: #000000;
    text-decoration: none;
    padding: 0;
}

.side-menu-list {
    padding: 0;
    margin: 0;
}

.side-menu {
    display: inline-block;
    border: solid 1px black;
    width: 300px;
    vertical-align: top;
    font-size: 25px;
    text-align: left;
}

.side-item {
    list-style: none;
    padding: 16px;
    padding-left: 50px;
    transition-property: padding-left, background;
    transition-duration: .5s;
}

.side-item:hover {
    background: #b6b6b6;
    padding-left: 65px;
}

.image-div {
    background-image: url("../image/top-img@1x.png");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    border: solid 1px black;
    text-align: center;
    width: 930px;
    height: 500px;
    margin-left: 40px;
    margin-bottom: 40px;
    padding-top: 40px;
    transition-property: background-size;
    transition-duration: 2s;
}

.image-div:hover {
    background-size: 450px;
}

.text {
    display: inline-block;
    margin-left: 340px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.footer {
    margin-top: 30px;
    text-align: left;
    background: #b4b7ba;
    padding: 15px;
    font-size: 28px;
}

.footer-menu-list {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.footer-item {
    display: inline-block;
}

.footer-item>a {
    text-decoration: none;
    color: #000;
    padding-left: 10px;
}

.footer-item>a:hover {
    border-bottom: 5px solid #3181a6;
    color: #3181a6;
}

.copy {
    list-style: none;
    display: inline-block;
    padding-left: 190px;
    font-size: 24px;
}

.active {
    z-index: 10000;
    background: #222f3a;
    border-left: solid 1px grey;
    border-right: solid 1px grey;
}