.navbar, .content-heading, .content-paragraph, .copyright {
    font-family: AdobeInvisFont, Roboto-Black, Courier;
}

.navbar {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    height: 14px;
    opacity: 1;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-btn {
    text-decoration: none;
    margin: 1%;
    display: inline;
    font-size: 18px;
    color: #16A085;
    letter-spacing: 3px;
}

.picture {
    width: 100%;
    margin: auto;
}

.content-heading {
    margin: auto;
    margin-top: 44px;
    color: #373737;
    font-size: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 1;
}

.content {
    margin: auto;
    width: 80%;
    text-align: center;
}

.content-paragraph {
    margin-top: 26px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
}

.btn-start {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 60px;
    color: #fff;
    font-size: 12px;
    font-family: GothamRounded-Bold, AdobeInvisFont, MyriadPro-Regular;
    background-color: #16A085;
    letter-spacing: 1px;
    width: 193px;
    height: 52px;
    text-transform: uppercase;
}

.copyright {
    margin-right: 20px;
    text-align: right;
    font-size: 16px;
    color: #373737;
}

.main {
    width: 100%;
}

body {
    margin: 0;
}

.btn-start:hover {
    background-color: #49A090;
}